* {
    margin: 0px;
    padding: 0px;
}

.body {
    /*Este fondo se ha obtenido desde https://heropatterns.com*/
    background-color: #1a1a1b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23b6a3d5' fill-opacity='0.47' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    font-weight: 800;
    text-align: center;
    height: 1700px;
    scroll-behavior: smooth;
    color: #fff;
    font-size: large;
}

.section-inc{
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px; 
    max-height: 500px;  
    padding:  20px 20px 20px 20px;
    background-color: #b6a3d5;
    box-sizing: border-box;
    border-radius: 25px;
}

input{
    padding: 3px;
    margin-top: 7px;
}
button{
    padding: 3px;
    margin-top: 7px;
}

header {
    background-color: #000;
    height: 70px;
    width: 100%;
    font-size: medium;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.boton {
    float: left;
    margin-left: 10%;
}

@font-face {
    font-family: helve;
    src: url(HelveticaNow.otf);
}

@font-face {
    font-family: rogue;
    src: url(RogueSerif-Bold.otf);
}

#header {
    margin-left: 60%;
    color: #eeeeee;
}

h3,
h4 {
    color: #000;
}

ul,
ol {
    list-style: none;
}

ul.nav {
    justify-content: center;
}

.nav>li {
    position: relative;
    float: left;
    background-color: #000;
}

.nav li a {
    font-family: helve;
    background-color: #000; 
    font-size: medium;
    color: #fff;
    text-decoration: none;
    padding: 22px 12px;
    display: block;
}


.configs{
    margin: auto;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: auto;
    max-width: 1400px;
    padding: 1px;
    background-color: #87838d;
    
}

​table, td {
    border-collapse: separate;
    border: 4px solid rgb(187, 183, 183);
    table-layout: fixed;
    max-width: 380px;
    overflow: hidden;
    height: 50px;
    word-wrap: break-word;
    padding: 12px;
}​

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.fade {
    opacity: 0.5;
}

.fade:hover {
    opacity: 1;
}

.texto {
    max-width: 49%;

}

.inicio {
    margin-top: 40px;
    background-color: #434343;
    box-shadow: 0 0 8px 8px #b6a3d5 inset;
    border-radius: 25px;
}

.card {
    color: black;
    /*margin-top: 40px;*/
    background-color: #ffffff;
    box-shadow: 0 0 8px 8px #434343;
}

#foto1 {
    width: 49%;
    height: 90%;
    margin-top: 1%;
    background-image: url("img/escena.jpg");
    float: left;
    margin-left: 1%;

}

.pdf {
    background-color: rgb(22, 143, 199);
    font-family: helve;
    width: 6%;
    height: 2%;
}

#tip1 {
    width: 49%;
    height: 90%;
    margin-top: 1%;
    background-image: url("img/tips/TIP-1_02.png");
    float: left;
    margin-left: 1%;

}


#foto2 {
    width: 49%;
    height: 90%;
    margin-top: 1%;
    margin-right: 1%;
    background-image: url("img/gente_airsoft.jpg");
    float: right;

}

#foto3 {
    margin-left: 1%;
    height: 90%;
    width: 49%;
    margin-top: 1%;
    background-image: url("img/apex.jpg");
    float: left;
}

#texto1 {
    font-family: rogue;
    width: 49%;
    height: 90%;
    margin-top: 1%;
    margin-right: 1%;
    float: right;
}

#texto2 {
    font-family: rogue;
    width: 49%;
    height: 90%;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
}

#texto3 {
    font-family: rogue;
    width: 49%;
    height: 90%;
    margin-top: 1%;
    margin-right: 1%;
    float: right;
}


#cartitas {

    max-height: 100px;
    margin-left: 40px;

}

#titulo {
    font-family: rogue;
    color: #fff;
}

#consejos {
    font-family: rogue;
    color: #fff;
}

#copy {
    font-family: helve;
    position: fixed;
    bottom: 0;
    background-color: #000;
    width: 100%;
    display: block;
}

.inicio {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#noticias {
    font-family: rogue;
    color: #000;
}

.inicio:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}



/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.btn-abrir-popup:hover {
    background: rgba(94, 125, 227, .9);
}

.btn-abrir-popup {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}